.errorMainImage {
	background-color: rgb(107, 12, 12);
	color: white;
	padding: 1rem;
	font-size: 0.6rem;
	font-weight: bold;
	min-height: 230px;
}

.errorMainImage h1 {
	margin-top: 0;
}

.errorMainImage span {
	color: black;
}

@media (min-width: 768px) {
	.errorMainImage {
		font-size: 0.7rem;
	}
}

@media (min-width: 992px) {
	.errorMainImage {
		font-size: 1rem;
	}
}
