* {
  box-sizing: border-box;
}
body {
  font-family: 
    'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #1a237e;
   margin: 0;
   padding: 0;

}

html,body {
  height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
